<div id="navbar">
  <%= link_to root_path do %>
    <h2>Welcome Home</h2>
  <% end %>
  <div>
    <%= link_to "Blog", blog_path %>
    <%= link_to "Catégories", categories_path %>
    <%= link_to "Posts", posts_path %>
    <%= link_to "Écrire un article", new_post_path, class:"btn btn-primary" %>
    <%= link_to "Écrire une newsletter", newsletter_path, class:"btn btn-primary" %>
  </div>
</div>
